.tmp
.DS_Store
.idea/
*.zip

/.import
/.vscode
/default_env.tres
/default_bus_layout.tres
/icon.svg
/icon.svg.import
export_presets.cfg

/addons/*
!/addons/phantom_camera

.godot/

# Docs specic ignores
#/docs/
node_modules
cache
dist
